html {
  font-family: 'helvetica neue';
  background: #aaa;
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.clock-background {
  background: #ddd url(https://images.unsplash.com/photo-1576605907145-62e0b93475f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1638&q=80);
  background-size: cover;
  background-position-x: center;
  width: 100vw;
  height: 75vw;
  display: grid;
  place-content: center;
  position: relative;
}

.clock {
  width: 23vw;
  height: 23vw;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  background: radial-gradient(#818093, #a3a2ba 60%, #fff 90%);
  margin-top: 3.8em;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width: 50%;
  height: 6px;
  border-radius: 2px;
  box-shadow: inset 0 0 2px #000;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: none;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour-hand {
  width: 30%;
  height: 10px;
  background: #efefef;
  left: 20%;
}

.min-hand {
  width: 40%;
  background: #dfdfdf;
  left: 10%;
}

.second-hand {
  background: #F00;
}

.move {
  transition: all 100ms ease;
}

.copyright {
  position: absolute;
  color: #fff;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 10px;
  margin: 0;
  font-size: 1.1em;
}

.copyright a {
  text-decoration: none;
  color: #0072fe;
}

span.timestamp {
  position: absolute;
  font-size: 2em;
  top: 40%;
  left: 42%;
  width: 30px;
  height: 40px;
  font-size: 2.5vw;
  text-align: center;
}

span.timestamp:nth-of-type(1) {
  transform: translateY(-350%);
}

span.timestamp:nth-of-type(2) {
  transform: translateY(-300%) translateX(320%) rotate(30deg);
}

span.timestamp:nth-of-type(3) {
  transform: translateY(-150%) translateX(500%) rotate(60deg);
}

span.timestamp:nth-of-type(4) {
  transform: translateY(40%) translateX(600%) rotate(90deg);
}

span.timestamp:nth-of-type(5) {
  transform: translateY(240%) translateX(520%) rotate(120deg);
}

span.timestamp:nth-of-type(6) {
  transform: translateY(400%) translateX(320%) rotate(150deg);
}

span.timestamp:nth-of-type(7) {
  transform: translateY(480%) translateX(80%) rotate(180deg);
}

span.timestamp:nth-of-type(8) {
  transform: translateY(400%) translateX(-220%) rotate(-150deg);
  font-size: 2.3vw;
}

span.timestamp:nth-of-type(9) {
  transform: translateY(280%) translateX(-420%) rotate(-120deg);
  font-size: 2.2vw;
}
span.timestamp:nth-of-type(10) {
  transform: translateY(40%) translateX(-520%) rotate(-90deg);
}

span.timestamp:nth-of-type(11) {
  transform: translateY(-160%) translateX(-420%) rotate(-60deg);
}

span.timestamp:nth-of-type(12) {
  transform: translateY(-300%) translateX(-260%) rotate(-30deg);
}